*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/

buildSrc/build/
*.aab

/schemas/
/sensitive.properties
/keystore.jks
/versions.properties
/media_service/src/main/assets/preLoadDb.db-shm
/media_service/src/main/assets/preLoadDb.db-wal
